body {
  font: 13px Helvetica, arial, sans-serif;
  padding: 30px 100px;
}

.z-presenter-container {
  position: relative;
  width: 400px;
  height: 300px;
  border: 1px solid #333;
  margin: 20px 5px 30px 0px;
  overflow: hidden;
}

.z-presenter-container > section {
  width: 100%;
  height: 100%;
  position: absolute;
}

.first {
  background-color: #aaa;
}

.second {
  background-color: #a3a;
}

.third {
  background-color: #aa3;
}

.present section div {
  margin: 100px auto;
  font-size: 60px;
  width: 50px;
  text-align: center;
}

.present .control {
  z-index: 100;
  position: absolute;
  bottom: 0px;
  left: 10px;
  height: 30px;
}
.present .control .button {
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #aaa;
  color: #333;
  padding: 3px 5px;
  margin: 2px 5px;
  cursor: pointer;
}